<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhehang.erp.modules.workflow.mapper.WfTaskMapper">

    <select id="selectTodoPage" resultType="com.zhehang.erp.modules.workflow.domain.vo.WfTaskVO">
        SELECT
            t.id, t.instance_id, t.node_name, t.node_type, t.assignee_id,
            t.status, t.comment, t.handle_time, t.create_time,
            pd.name AS process_name,
            wi.title AS instance_title,
            wi.initiator_id,
            wi.start_time
        FROM wf_task t
        LEFT JOIN wf_instance wi ON t.instance_id = wi.id
        LEFT JOIN wf_process_def pd ON wi.process_def_id = pd.id
        WHERE t.assignee_id = #{assigneeId}
          AND t.status = 0
          AND t.deleted = 0
        ORDER BY t.create_time DESC
    </select>

    <select id="selectDonePage" resultType="com.zhehang.erp.modules.workflow.domain.vo.WfTaskVO">
        SELECT
            t.id, t.instance_id, t.node_name, t.node_type, t.assignee_id,
            t.status, t.comment, t.handle_time, t.create_time,
            pd.name AS process_name,
            wi.title AS instance_title,
            wi.initiator_id,
            wi.start_time
        FROM wf_task t
        LEFT JOIN wf_instance wi ON t.instance_id = wi.id
        LEFT JOIN wf_process_def pd ON wi.process_def_id = pd.id
        WHERE t.assignee_id = #{assigneeId}
          AND t.status != 0
          AND t.deleted = 0
        ORDER BY t.handle_time DESC
    </select>

</mapper>
